{% extends "case/base.html" %}

{% block content %}

        <!-- Hero -->
        <div class="hero">


        <!-- Header -->
          <header class="center short">
            
            <h3>
              Michael Nino Evensen <span class="dot">&bull;</span>
                <span class="grey">Product Designer & Developer</span>
            </h3>

          </header>

        
      {% for case in cases %}
          
        <!-- Case Study -->
        <div class="align-vertical">

          <article class="introduction">

              <h1>{{ case.title }}</h1>
              <p>{{ case.intro }}</p>

              <a href="{{ case.slug }}/{{ chapter_slug }}" class="button">{{ case.link_text }}</a>
   
          </article>

        <!-- Case Study End -->
        </div>


         <!-- Hero End -->
        </div>

        {% endfor %}


        <!-- Articles -->
        <div class="articles">


          <!-- About Me -->
            <article>
              <h1>About</h1>

               <p>
                  Product Designer focused on making great experiences for web and mobile. Used to be a part of SoundCloud’s amazing Mobile team where I was the <em>Lead Product Designer</em> for their Mobile products.
                
                </p>
              <a href="#" class="button">Read more</a>

            </article>


            <!-- Interest, Articles and Opinions -->
            <article>
              <h1>Interests, Articles<br />and Opinions</h1>

               <p>
                Ocasionally I write, share or talk about things I’m interested in and passionate about. A big proponent of <em>enabling</em> designers.
               
               </p>
              
              <a href="#" class="button">Read some of my thoughts</a>
            </article>


        </div>
          

{% endblock %}
