{% extends "portfolio/base.html" %}

{% block content %}

        <!-- Header -->
        <header class="long">
          
          <h3>
            About <span class="dot">&bull;</span>
            <span class="grey">A little introduction about me</span>
          </h3>

          <a href="index.html" class="button-menu">Menu</a>

        </header>


        <div class="story">

            <section class="the-past">

              <div class="chapter-intro">
              
                <h4>Introduction</h4>
                <h1 class="intro">Article</h1>
    
                <hr>

              </div>

              <p>Article</p>

            </section>


            </div>



             <!-- Footer -->
            <footer>

                <article class="introduction">

                  <h4>Chapter 2</h4>
                  <h1>_____</h1>

                  <p>
                      _____
                  </p>

                  <a href="chapter2.html" class="button">Read more of my articles by following me</a>
              
              </article>


              <!-- Article Navigation -->
              <ul>
                  <li class="current"><a href="chapter1.html">1. _____</a><span class="dot grey">&bull;</span></li>
                  <li><a href="chapter2.html">2. _____</a><span class="dot grey">&bull;</span></li>
                  <li><a href="chapter3.html">3. _____</a><span class="dot grey">&bull;</span></li>
              </ul>

            </footer>

            <!-- Footer End -->


{% endblock content %}