{% extends "portfolio/base.html" %}

{% block content %}

        <!-- Chapter Header -->
        <header class="chapter-header">
        
            <li class="left">
              {{ current_chapter.case }}<span class="dot">&bull;</span>
              <span class="grey">{{ current_chapter.title }}</span>
            </li>
          
            <li class="right">
              <a href="/" class="right menu-button">Menu</a>
            </li>

        </header>


        <!-- Story Start -->
        <div class="story">

              <div class="chapter-intro">
              
                <h4>Chapter {{ current_chapter.number }}</h4>
                <h1 class="intro">{{ current_chapter.title }}</h1>
    
                <hr>

              </div>

              <!-- Chapter Start -->
              {{ current_chapter.body|safe }}

            </div>



             <!-- Footer -->
            <footer>

              {% if current_chapter.next %}

                <!-- Next Chapter -->
                <article class="introduction">

                  <h4>Chapter {{ current_chapter.next.id }}</h4>
                  <h1>{{ current_chapter.next.title }}</h1>

                  <p>
                      {{ current_chapter.next.introduction }}
                  </p>

                  <a href="/{{ current_chapter.next.case.slug }}/{{ current_chapter.next.slug }}/" class="button">Continue to next chapter</a>
              
              </article>

              {% else %}

                <!-- The End -->

                <article class="introduction">

                  <!-- Thanks for reading! -->
                  <h1 style="margin-top: 80px">The End</h1>

                  <p>If you want to find out more about some of the things I'm interested in. Also would be really happy if you shared this story.
                  </p>

                  <a href="#" class="button" style="margin-right: 20px">Share this Case</a>
                  <a href="#" class="button">Follow me on Twitter</a>
              
              </article>

              {% endif %}



              <!-- Chapter Navigation -->

               <ul>

              {% for chapter in chapters %}

                  <li{% if chapter.current %} class="current"{% endif %}><a href="/{{ chapter.case.slug }}/{{ chapter.slug }}">{{ chapter.number }}. {{ chapter.title }}</a>{% if forloop.last != True %}<span class="dot grey">&bull;</span>{% endif %}</li>
          
              {% endfor %}

              </ul>


            </footer>

            <!-- Footer End -->


{% endblock content %}